body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}



.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: pink;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }
  
  
  .btn {
  position: relative;
  right: -20px;
  top: -150px;

  }

  .player {
    position: relative;
    right: 130px;
    top: -60px;
    background-color: lightblue;
    height: 100px;
    width: 200px;
  }

  .rstrt { 
    position: relative;
    right: 280px;
    top: 25px;
  }
  
  .announce{
    display: flex;
   position: relative; 
  top: -10px;
  left: 350px;
  height: 100px;
  width: 400px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  /*height: 100%;*/
  text-align: center;
  color: red;


  }
  
  